.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Đặt các phần tử ở trên cùng */
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.temperature-widget,
.humidity-widget {
    margin-bottom: 20px; /* Tạo khoảng cách giữa các phần tử */
}

.temperature-chart-container {
    width: 90%;
    max-width: 600px;
    margin-top: 20px; /* Tạo khoảng cách từ trên xuống dưới */
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
h2{
    color: red;
} */