.admin-container{
    display: flex;
    .admin-sidebar{


        .pro-sidebar {
            height: 100vh !important;
        }

        .pro-inner-list-item{
            opacity: 0.6;   
            
            
            
        }

    }
    .admin-content{
        .btn-icons{
            padding: 10px;
            margin: 10px;
        }
    }


}