.admin-container{
    display: flex;
    .admin-sidebar{


        .pro-sidebar {
            height: 100vh !important;
        }
        .pro-inner-list-item{
            opacity: 0.6;   
        }

    }
    .admin-content{
        width: 100%;
        margin: 5px 20px;
        .btn-icons{
            padding: 10px;
        }
        .admin-main{
            
        }
    }


}